In [ ]:
# Excel-Python Interaction
# Prerequisities: matplotlib, NumPy, pandas, OpenPyXL, xlrd, xlwt, XlsxWriter

In [38]:
!pip install XlsxWriter --upgrade

Requirement already satisfied: XlsxWriter in c:\users\96520\miniconda3\lib\site-packages (3.1.2)

In [8]:
import pandas as pd

In [11]:
excel_file = 'movies.xlsx'
movies = pd.read_excel(excel_file)

In [12]:
movies.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,The Valley of Decision,1945,Drama,English,USA,Passed,119,1.37,2160000,NaN,...,509,284,275,1490,68,0,1314,29,7,7.5
1,A Streetcar Named Desire,1951,Drama,English,USA,PG,125,1.37,1800000,NaN,...,10000,416,114,10570,5000,0,78454,233,94,8.0
2,The Nun's Story,1959,Drama,English,USA,Not Rated,149,1.78,3500000,NaN,...,157,139,75,646,930,0,7071,83,25,7.6
3,Cries & Whispers,1972,Drama,Swedish,Sweden,R,91,1.66,400000,NaN,...,440,132,92,809,0,0,19964,197,76,8.2

In [15]:
# read a specific sheet
movies_sheet1 = pd.read_excel(excel_file, sheet_name='2010')
movies_sheet1.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Of Gods and Men,2010,Drama,French,France,PG-13,122,2.35,4000000,3950029.0,...,186,135,32,416,0,0,12411,89,195,7.2
1,Paranormal Activity 2,2010,Horror,English,USA,R,98,1.85,3000000,84749884.0,...,438,332,189,1081,14000,0,82133,359,264,5.7
2,Rabbit Hole,2010,Drama,English,USA,PG-13,91,1.85,5000000,2221809.0,...,967,289,192,1582,0,0,40618,144,248,7.0
3,The Extra Man,2010,Comedy,English,USA,R,108,2.35,7000000,453079.0,...,474,403,281,2029,916,4,4124,29,104,5.9
4,Jack and Jill,2011,Comedy,English,USA,PG,91,1.85,79000000,74158157.0,...,14000,11000,553,27405,0,2,60370,264,156,3.4

In [17]:
# Read all the sheets in an Excel file
xlsx = pd.ExcelFile(excel_file)
movies_sheets = []
for sheet in xlsx.sheet_names:
    movies_sheets.append(xlsx.parse(sheet))
movies = pd.concat(movies_sheets)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 9
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        18 non-null     object
 1   Year                         18 non-null     int64
 2   Genres                       18 non-null     object
 3   Language                     18 non-null     object
 4   Country                      18 non-null     object
 5   Content Rating               18 non-null     object
 6   Duration                     18 non-null     int64
 7   Aspect Ratio                 18 non-null     float64
 8   Budget                       18 non-null     int64
 9   Gross Earnings               13 non-null     float64
 10  Director                     18 non-null     object
 11  Actor 1                      18 non-null     object
 12  Actor 2                      18 non-null     object
 13  Actor 3                      18 non-null     object
 14  Facebook Likes - Director    18 non-null     int64
 15  Facebook Likes - Actor 1     18 non-null     int64
 16  Facebook Likes - Actor 2     18 non-null     int64
 17  Facebook Likes - Actor 3     18 non-null     int64
 18  Facebook Likes - cast Total  18 non-null     int64
 19  Facebook likes - Movie       18 non-null     int64
 20  Facenumber in posters        18 non-null     int64
 21  User Votes                   18 non-null     int64
 22  Reviews by Users             18 non-null     int64
 23  Reviews by Crtiics           18 non-null     int64
 24  IMDB Score                   18 non-null     float64
dtypes: float64(3), int64(13), object(9)
memory usage: 3.7+ KB

In [26]:
# Read a subset of columns
movies_subset_columns = pd.read_excel(excel_file, sheet_name='2010', usecols=[0,1,2,3,4,9])
movies_subset_columns.head()

                    Title  Year  Genres Language Country  Gross Earnings
0        Of Gods and Men   2010   Drama   French  France       3950029.0
1  Paranormal Activity 2   2010  Horror  English     USA      84749884.0
2            Rabbit Hole   2010   Drama  English     USA       2221809.0
3          The Extra Man   2010  Comedy  English     USA        453079.0
4          Jack and Jill   2011  Comedy  English     USA      74158157.0

In [31]:
# Use pivot table 
movies_subset = movies_subset_columns[['Year', 'Gross Earnings']]
earnings_by_year = movies_subset.pivot_table(index=['Year'])
earnings_by_year.head()

      Gross Earnings
Year
2010     22843700.25
2011     89082992.50
2012     23154856.00

In [55]:
# Write to an Excel file
writer = pd.ExcelWriter('output.xlsx', engine='xlsxwriter')
movies.to_excel(writer, index=False, sheet_name='report')
workbook = writer.book
worksheet = writer.sheets['report']
row_fmt = workbook.add_format({'bold': False, 'italic': True})
worksheet.set_row(1, None, row_fmt)
writer.save()

In [57]:
writer = pd.ExcelWriter('output2.xlsx', engine='xlsxwriter')
earnings_by_year.to_excel(writer, sheet_name='GrossEarnings')
workbook = writer.book
worksheet = writer.sheets['GrossEarnings']
writer.save()